extends layout

block title
    title Game
block append stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/game.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.structure.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.theme.css')
block content

    a(href='/menu') Back to menu

    script(src="http://localhost:3000/socket.io/socket.io.js")
    script(src="js/jquery.min.js")
    script(src="js/jquery-ui.js")

    script(src="js/client.js")
    script(src="js/game.js")

    h1 Game



    div(id='board')
        table

