extends layout

block content
    //Pour accéder au jeu avec formulaire de connexion
    a(href='/connexion') Play the Game !
    button(id="play") Jouer
    button(id="pawn") Pion
    button(id="move") Move
    p(id="waiting")

    script(src="http://localhost:3000/socket.io/socket.io.js")
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="js/client.js")
