extends layout
block title
    title Menu
block append stylesheets
    link(rel='stylesheet', href='/stylesheets/menu.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
block content

    body
        div(id='wrapper')
            div(id="banner")
                img(src='/img/logo.png')
            div(id='menu')
                div(id='leftPannel')
                    a(href="/jeu")
                        button(value='play', id="playGame") Jouer
                    a(href="/menu/deconnexion")
                        button(value='disconnect', id="logOut") Se déconnecter

                div(id='rightPannel')
                    div(id='switchers')
                        div(id='personnalStaticsSwitcher' class='selected') Statistiques personnelles
                        div(id='rankSwitcher') Rang
                    div(id='personnalStatics')
                        p 1
                        p 2
                        p 3
                        p 4
                    div(id='rank' class='hidden')
                        p 1er
        script(src="/js/menu.js")


