extends layout
block title
    title Menu
block append stylesheets
    link(rel='stylesheet', href='/stylesheets/menu.css')
block content

    body
    div(id='leftPannel')
        a(href="/game" class="mainButtons") Jouer
    div(id='rightPannel')
        div(id='switchers')
            div(id='personnalStaticsSwitcher') Statistiques personnelles
            div(id='rankSwitcher') Rang
        div(id='rank')
            div(id='personnalStatics')
                p 1
                p 2
                p 3
                p 4



